<!-- register.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="{% static 'css/style_register.css' %}">
</head>
<body>
    <div class="popup" id="popup-message">{{ error }}</div>
    <div class="register-container">
        <h2>Register</h2>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <div class="button-group">
                <button type="submit" class="register-button">Register</button>
            </div>
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var popup = document.getElementById("popup-message");
            if (popup.textContent.trim() !== "") {
                popup.style.display = "block";
                setTimeout(function() {
                    popup.style.display = "none";
                }, 3000);
            }
        });
    </script>
</body>
</html>